In [26]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv("UCB_dept_merge.csv")

In [9]:
data.head()

,po_id,po_num,creation_date,supplier_name,item_type,product_description,manufacturer,quantity,unit_price,department,buyer__first_name,buyer__last_name,po_closed_date,department_name,spend
0,29847876,BB00195887,2013-05-31 00:00:00,GIVE SOMETHING BACK,SQ Hosted Product,"PORTABLE COMBINATION LAPTOP LOCK, 6 FT. CARBON...",KENSINGTON,30,24.32,NaN,Dustin,Miller,2013-07-16 00:00:00,UIAPA UB Academic Year,795.26
1,29847864,BB00195886,2013-05-31 00:00:00,GRAINGER INC,PunchOut Product,"Wall Mount Fan, Oscillating, Number of Speeds ...",AIR KING,1,35.58,NaN,Erin,Pinkston,2013-08-08 00:00:00,UKHDS Unit 1 Apt Admin,38.78
2,29847796,BB00195884,2013-05-31 00:00:00,BELLCO GLASS INC,NonCatalog Product,"Septum Stopper, 20mm Blue Butyl Rubber QtyPerC...",NaN,1,77.41,NaN,William,Wolf,NaN,CCHEM RES Research,104.67
3,29847820,BB00195885,2013-05-31 00:00:00,CHEMGLASS LIFE SCIENCES LLC,NonCatalog Product,"Column, Chromatography, 24/40 Outer Joint, 100...",NaN,1,108.00,NaN,William,Wolf,2014-10-30 00:00:00,CCHEM RES Research,71.77
4,29847565,BB00195881,2013-05-31 00:00:00,FISHER SCIENTIFIC,SQ Hosted Product,"Bottles, Media/Lab; Wheaton;Graduated; With ru...",Wheaton Science Products Inc,1,135.38,NaN,Donald C.,RIO,NaN,IMMCB BH Research,317.31

In [22]:
#Changing data type to date
data.creation_date = pd.to_datetime(data.creation_date)
data.po_closed_date = pd.to_datetime(data.po_closed_date)

In [30]:
#Creating Time to completion column
data["toc"] = data.po_closed_date - data.creation_date

In [46]:
#Creating Time to completion column
data["tocpercost"] = data.toc / data.spend

AttributeError: 'module' object has no attribute 'to_int'

In [39]:
data.plot()

In [40]:
data.toc.dropna()

0     46 days
1     69 days
3    517 days
7     73 days
8     69 days
11    75 days
12    69 days
13    69 days
14    69 days
15   154 days
16    69 days
17    69 days
18    69 days
19    69 days
20    90 days
...
611088   118 days
611090   124 days
611091   118 days
611092   118 days
611093   118 days
611094   118 days
611095   118 days
611096   124 days
611097   118 days
611098   118 days
611099   118 days
611100   124 days
611101   124 days
611102   124 days
611109   134 days
Name: toc, Length: 521092, dtype: timedelta64[ns]

,po_id,po_num,creation_date,supplier_name,item_type,product_description,manufacturer,quantity,unit_price,department,buyer__first_name,buyer__last_name,po_closed_date,department_name,spend,toc
0,29847876,BB00195887,2013-05-31,GIVE SOMETHING BACK,SQ Hosted Product,"PORTABLE COMBINATION LAPTOP LOCK, 6 FT. CARBON...",KENSINGTON,30,24.32,NaN,Dustin,Miller,2013-07-16,UIAPA UB Academic Year,795.26,46 days
1,29847864,BB00195886,2013-05-31,GRAINGER INC,PunchOut Product,"Wall Mount Fan, Oscillating, Number of Speeds ...",AIR KING,1,35.58,NaN,Erin,Pinkston,2013-08-08,UKHDS Unit 1 Apt Admin,38.78,69 days
2,29847796,BB00195884,2013-05-31,BELLCO GLASS INC,NonCatalog Product,"Septum Stopper, 20mm Blue Butyl Rubber QtyPerC...",NaN,1,77.41,NaN,William,Wolf,NaT,CCHEM RES Research,104.67,NaT
3,29847820,BB00195885,2013-05-31,CHEMGLASS LIFE SCIENCES LLC,NonCatalog Product,"Column, Chromatography, 24/40 Outer Joint, 100...",NaN,1,108.00,NaN,William,Wolf,2014-10-30,CCHEM RES Research,71.77,517 days
4,29847565,BB00195881,2013-05-31,FISHER SCIENTIFIC,SQ Hosted Product,"Bottles, Media/Lab; Wheaton;Graduated; With ru...",Wheaton Science Products Inc,1,135.38,NaN,Donald C.,RIO,NaT,IMMCB BH Research,317.31,NaT