In [14]:
import os
import networkx as nx
import matplotlib.pyplot as plt
import cython
import numpy as np
import pandas as pd
import datetime

In [15]:
# load in merged data
data_path = '../../../UCB_dept_merge.csv'
mergeData = pd.read_csv(data_path)

In [16]:
# cut out unnecessary info on department name
mergeData["department_name"] = mergeData["department_name"].apply(lambda x: x.split()[0])
mergeData.head()

,po_id,po_num,creation_date,supplier_name,item_type,product_description,manufacturer,quantity,unit_price,department,buyer__first_name,buyer__last_name,po_closed_date,department_name,spend
0,29847876,BB00195887,2013-05-31 00:00:00,GIVE SOMETHING BACK,SQ Hosted Product,"PORTABLE COMBINATION LAPTOP LOCK, 6 FT. CARBON...",KENSINGTON,30,24.32,NaN,Dustin,Miller,2013-07-16 00:00:00,UIAPA,795.26
1,29847864,BB00195886,2013-05-31 00:00:00,GRAINGER INC,PunchOut Product,"Wall Mount Fan, Oscillating, Number of Speeds ...",AIR KING,1,35.58,NaN,Erin,Pinkston,2013-08-08 00:00:00,UKHDS,38.78
2,29847796,BB00195884,2013-05-31 00:00:00,BELLCO GLASS INC,NonCatalog Product,"Septum Stopper, 20mm Blue Butyl Rubber QtyPerC...",NaN,1,77.41,NaN,William,Wolf,NaN,CCHEM,104.67
3,29847820,BB00195885,2013-05-31 00:00:00,CHEMGLASS LIFE SCIENCES LLC,NonCatalog Product,"Column, Chromatography, 24/40 Outer Joint, 100...",NaN,1,108.00,NaN,William,Wolf,2014-10-30 00:00:00,CCHEM,71.77
4,29847565,BB00195881,2013-05-31 00:00:00,FISHER SCIENTIFIC,SQ Hosted Product,"Bottles, Media/Lab; Wheaton;Graduated; With ru...",Wheaton Science Products Inc,1,135.38,NaN,Donald C.,RIO,NaN,IMMCB,317.31

In [25]:
#convert creation_date to datetime object
mergeData['creation_date']=pd.to_datetime(pd.Series(mergeData['creation_date']))

In [41]:
# just keep department_name and supplier_name
deptSupplier = mergeData[['department_name','supplier_name','creation_date', 'po_closed_date']]
deptSupplier = deptSupplier.dropna()
deptSupplier.head()
deptSupplier.dtypes
#sort by creation date
deptSupplier = deptSupplier.sort(['creation_date'])
deptSupplier.head()

,department_name,supplier_name,creation_date,po_closed_date
273362,MDNST,SANTA CRUZ BIOTECHNOLOGY INC,2012-01-18,2013-03-04 00:00:00
273361,MDNST,OPEN BIOSYSTEMS INC,2012-01-18,2013-01-25 00:00:00
273360,MEPMB,FISHER SCIENTIFIC,2012-01-20,2013-01-28 00:00:00
273359,MEPMB,FISHER SCIENTIFIC,2012-01-20,2013-01-28 00:00:00
273358,MEPMB,FISHER SCIENTIFIC,2012-01-20,2013-01-28 00:00:00

In [42]:
#subset by date
first3Months = deptSupplier[deptSupplier['creation_date'] < datetime.datetime(2012,3,1)]
first3Months = first3Months.dropna() 
len(first3Months)

636

In [53]:
#keep only the unique values
wanted = first3Months[['department_name','supplier_name']]
wanted = wanted.drop_duplicates()

In [54]:
#try to create graphs
from networkx.algorithms import bipartite

In [55]:
#make a bipartite graph
test= nx.Graph()
test.add_nodes_from(wanted['department_name'], bipartite = 0)
test.add_nodes_from(wanted['supplier_name'], bipartite = 1)
edges = [tuple(x) for x in wanted.values]
test.add_edges_from(edges)

In [56]:
nx.draw(test)
plt.show()
plt.savefig("test.png")