# Text Analysis

Notebook by: Juan Shishido

In this notebook, I'll start cleaning the text columns and, more importantly, thinking about how to classify and group the data within them. Consider using n-grams for word occurence.

## Imports

In [1]:
import re
import pandas as pd
import numpy as np
from collections import Counter

## Load

In [2]:
df = pd.read_csv('../../data/cleaned/UCB_dept_merge.csv')

In [3]:
df.head()

,po_id,po_num,creation_date,supplier_name,item_type,product_description,manufacturer,quantity,unit_price,department,buyer__first_name,buyer__last_name,po_closed_date,department_name,spend
0,29847876,BB00195887,2013-05-31 00:00:00,GIVE SOMETHING BACK,SQ Hosted Product,"PORTABLE COMBINATION LAPTOP LOCK, 6 FT. CARBON...",KENSINGTON,30,24.32,NaN,Dustin,Miller,2013-07-16 00:00:00,UIAPA UB Academic Year,795.26
1,29847864,BB00195886,2013-05-31 00:00:00,GRAINGER INC,PunchOut Product,"Wall Mount Fan, Oscillating, Number of Speeds ...",AIR KING,1,35.58,NaN,Erin,Pinkston,2013-08-08 00:00:00,UKHDS Unit 1 Apt Admin,38.78
2,29847796,BB00195884,2013-05-31 00:00:00,BELLCO GLASS INC,NonCatalog Product,"Septum Stopper, 20mm Blue Butyl Rubber QtyPerC...",NaN,1,77.41,NaN,William,Wolf,NaN,CCHEM RES Research,104.67
3,29847820,BB00195885,2013-05-31 00:00:00,CHEMGLASS LIFE SCIENCES LLC,NonCatalog Product,"Column, Chromatography, 24/40 Outer Joint, 100...",NaN,1,108.00,NaN,William,Wolf,2014-10-30 00:00:00,CCHEM RES Research,71.77
4,29847565,BB00195881,2013-05-31 00:00:00,FISHER SCIENTIFIC,SQ Hosted Product,"Bottles, Media/Lab; Wheaton;Graduated; With ru...",Wheaton Science Products Inc,1,135.38,NaN,Donald C.,RIO,NaN,IMMCB BH Research,317.31

## Transform

### Replace nan; Lowercase

In [4]:
cols = ['supplier_name', 'item_type', 'product_description', 'manufacturer', 'buyer__first_name', 'buyer__last_name', 'department_name']

In [5]:
for col in cols:
    df[cols] = df[cols].replace(np.nan, '' , regex=True).apply(lambda x: x.str.lower())

### Replace Whitespace

In [6]:
df['product_description'] = df['product_description'].apply(lambda x: re.sub('[^A-Za-z0-9\/\-]+', ' ', x))

In [7]:
df['supplier_name'] = df['supplier_name'].apply(lambda x: re.sub(re.compile(r'\s+'), ' ', x).strip())
df['item_type'] = df['item_type'].apply(lambda x: re.sub(re.compile(r'\s+'), ' ', x).strip())
df['product_description'] = df['product_description'].apply(lambda x: re.sub(re.compile(r'\s+'), ' ', x).strip())
df['manufacturer'] = df['manufacturer'].apply(lambda x: re.sub(re.compile(r'\s+'), ' ', x).strip())
df['buyer__first_name'] = df['buyer__first_name'].apply(lambda x: re.sub(re.compile(r'\s+'), ' ', x).strip())
df['buyer__last_name'] = df['buyer__last_name'].apply(lambda x: re.sub(re.compile(r'\s+'), ' ', x).strip())
df['department_name'] = df['department_name'].apply(lambda x: re.sub(re.compile(r'\s+'), ' ', x).strip())

In [8]:
df.head()

,po_id,po_num,creation_date,supplier_name,item_type,product_description,manufacturer,quantity,unit_price,department,buyer__first_name,buyer__last_name,po_closed_date,department_name,spend
0,29847876,BB00195887,2013-05-31 00:00:00,give something back,sq hosted product,portable combination laptop lock 6 ft carbon s...,kensington,30,24.32,NaN,dustin,miller,2013-07-16 00:00:00,uiapa ub academic year,795.26
1,29847864,BB00195886,2013-05-31 00:00:00,grainger inc,punchout product,wall mount fan oscillating number of speeds 3 ...,air king,1,35.58,NaN,erin,pinkston,2013-08-08 00:00:00,ukhds unit 1 apt admin,38.78
2,29847796,BB00195884,2013-05-31 00:00:00,bellco glass inc,noncatalog product,septum stopper 20mm blue butyl rubber qtyperca...,,1,77.41,NaN,william,wolf,NaN,cchem res research,104.67
3,29847820,BB00195885,2013-05-31 00:00:00,chemglass life sciences llc,noncatalog product,column chromatography 24/40 outer joint 100ml ...,,1,108.00,NaN,william,wolf,2014-10-30 00:00:00,cchem res research,71.77
4,29847565,BB00195881,2013-05-31 00:00:00,fisher scientific,sq hosted product,bottles media/lab wheaton graduated with rubbe...,wheaton science products inc,1,135.38,NaN,donald c.,rio,NaN,immcb bh research,317.31

## Exploratory

### Product Description

#### Unique Entries

In [9]:
df.groupby('product_description')['product_description'].count()

product_description
                                                                4
-                                                               3
- - -pinene analytical standard for terpene analysis            1
- - do not voucher - - blanket po for purchase of compressed gas cylinders    1
- - do not voucher - - create blanket po for gas purchase 2500 per year    1
- - do not voucher - - customer 1352373 uc berkeley mathematics contract 1208326 ending 6/30/13 serial khn02814 208 26 for 7 months 300 for copy overage    1
- - do not voucher - - customer 1352373 uc berkeley mathematics contract 1208326 ending 6/30/14 serial khn02814 238 97 for 12 months 500 for copy overage    1
- - do not voucher - - customer 1352373 uc berkeley mathematics contract 1209454 ending 6/30/13 serial mpg77265 56 11 for 7 months 100 for copy overage    1
- - do not voucher - - customer 1352373 uc berkeley mathematics contract 1209454 ending 6/30/14 serial mpg77265 63 99 for 12 months 100 for copy overage    2
- - no not voucher - - replaces po bb00247686 for francis dry ice account fq893    2
- -1 2-bis 2r 5r -2 5-diphenylphospholano ethane kanata purity    1
- -1 2-bis 2s 5s -2 5-dimethylphospholano ethane                1
- -2-methyl-d3-isoborneol99 atom dcas 135441-89-3               1
- -4 5-bis hydroxy diphenyl methyl -2 2-dimethyl-1 3-dioxolane    1
- -8-phenylmenthol 97 acros organics 250mg glass bottle packed in plastic container 1/ea 387952500    1
...
zyppy plasmid miniprep kit 400 preps/unit same as d4020 please refer to quote 250028446 for discounted pricing    1
zyppy plasmid miniprep kit 50 preps promo code zr-holiday       1
zyppy plasmid miniprep kit 800 preps                            9
zyppy plasmid miniprep kit 800 preps d4037                      1
zyppy plasmid miniprep kit 800 prepshttp //www zymoresearch com/dna/plasmid-dna-purification/zyppy-plasmid-miniprep-kit    3
zyppy plasmid miniprep kit 800use code pc-plasmid please        1
zyppy plasmid miniprep kit please use promo sweet19bday for free shipping 20 etc    1
zyppy plasmid miniprep zymo research kit 400 preps/unit         1
zyppy wash buffer                                               1
zyppy wash buffer - 48 mlhttp //www zymoresearch com/components/zyppy-plasmid-miniprep-kit-components-3    1
zyppy wash buffer 48 ml                                         8
zyxel es 1100 8p switch 8 ports unmanaged desktop wall mountable    1
zyxel zywall 110 security appliance                             1
zyxel zywall usg 300 security appliance                         1
zyxin mouse mab zz001                                           1
Name: product_description, Length: 293788, dtype: int64

#### Unique Words

In [7]:
words = [w.strip().split(' ') for w in df.product_description.dropna().values]

In [8]:
word_list = [i for word in words for i in word]

In [9]:
word_counts = Counter(word_list)

In [10]:
top_100_words = word_counts.most_common(100)

### Total words

### Identify stop words