# Text Analysis

Notebook by: Juan Shishido

In this notebook, I'll start cleaning the text columns and, more importantly, thinking about how to classify and group the data within them. Consider using n-grams for work occurence.

## Imports

In [1]:
import pandas as pd

## Load

In [2]:
df = pd.read_csv('/Users/JS/Data/BIDS/purchasing/UCB.csv')

/usr/local/lib/python2.7/site-packages/pandas/io/parsers.py:1159: DtypeWarning: Columns (12,51,53,55,58,59,66,94,100,101,102,107,109,139) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [3]:
df.head()

,PO ID,PO #,Creation Date,Original Revision Date,Last Revision Date,Last Distribution Date,Workflow Completion Date,PO Closed Date,Supplier ID,Supplier Name,...,Line Status,SS,RFx Status,Qty Net Received,Qty Net Invoiced,Qty Variance,Cost Net Invoiced,Cost Variance,Receive Status,Voucher Status
0,29847876,BB00195887,5/31/2013,5/31/2013,7/16/2013,5/31/2013,5/31/2013,7/16/2013,14495487,GIVE SOMETHING BACK,...,Approved,NaN,NaN,30,30,0,729.60,0.00,Fully Received,Fully Invoiced
1,29847864,BB00195886,5/31/2013,5/31/2013,8/8/2013,5/31/2013,5/31/2013,8/8/2013,125769,GRAINGER INC,...,Approved,NaN,NaN,0,1,-1,35.58,0.00,none,Fully Invoiced
2,29847771,CC00019152,5/31/2013,5/31/2013,5/31/2013,NaN,5/31/2013,NaN,14130982,BluCard Tracking,...,Approved,NaN,NaN,0,0,0,0.00,247.00,none,none
3,29847816,CC00019151,5/31/2013,5/31/2013,5/31/2013,NaN,5/31/2013,NaN,14130982,BluCard Tracking,...,Approved,NaN,NaN,0,0,0,0.00,261.50,none,none
4,29847796,BB00195884,5/31/2013,5/31/2013,5/31/2013,5/31/2013,5/31/2013,NaN,14028977,BELLCO GLASS INC,...,Approved,NaN,NaN,1,1,0,76.48,0.93,Fully Received,Partially Invoiced

## Transform

### Lowercase

In [4]:
df['Supplier Name'] = df['Supplier Name'].apply(lambda x: x.lower())

In [5]:
df['Item Type'] = df['Item Type'].apply(lambda x: x.lower())
df.head()

,PO ID,PO #,Creation Date,Original Revision Date,Last Revision Date,Last Distribution Date,Workflow Completion Date,PO Closed Date,Supplier ID,Supplier Name,...,Line Status,SS,RFx Status,Qty Net Received,Qty Net Invoiced,Qty Variance,Cost Net Invoiced,Cost Variance,Receive Status,Voucher Status
0,29847876,BB00195887,5/31/2013,5/31/2013,7/16/2013,5/31/2013,5/31/2013,7/16/2013,14495487,give something back,...,Approved,NaN,NaN,30,30,0,729.60,0.00,Fully Received,Fully Invoiced
1,29847864,BB00195886,5/31/2013,5/31/2013,8/8/2013,5/31/2013,5/31/2013,8/8/2013,125769,grainger inc,...,Approved,NaN,NaN,0,1,-1,35.58,0.00,none,Fully Invoiced
2,29847771,CC00019152,5/31/2013,5/31/2013,5/31/2013,NaN,5/31/2013,NaN,14130982,blucard tracking,...,Approved,NaN,NaN,0,0,0,0.00,247.00,none,none
3,29847816,CC00019151,5/31/2013,5/31/2013,5/31/2013,NaN,5/31/2013,NaN,14130982,blucard tracking,...,Approved,NaN,NaN,0,0,0,0.00,261.50,none,none
4,29847796,BB00195884,5/31/2013,5/31/2013,5/31/2013,5/31/2013,5/31/2013,NaN,14028977,bellco glass inc,...,Approved,NaN,NaN,1,1,0,76.48,0.93,Fully Received,Partially Invoiced

In [8]:
for col in df.columns:
    print df[col].dtypes

int64
object
object
object
object
object
object
object
int64
object
object
float64
object
float64
int64
int64
object
object
object
object
object
object
object
object
object
float64
object
object
object
object
object
object
float64
float64
object
object
object
object
object
object
object
object
object
object
float64
object
float64
float64
object
object
object
object
object
object
object
object
object
object
object
object
float64
float64
object
float64
float64
object
object
object
object
object
float64
float64
object
object
float64
object
object
object
object
object
float64
float64
object
float64
float64
float64
float64
object
object
object
object
object
object
object
object
object
float64
float64
object
object
object
object
object
object
object
object
object
object
int64
object
object
float64
float64
float64
object
int64
float64
object
object
object
float64
object
object
object
float64
float64
float64
float64
float64
object
float64
float64
float64
float64
float64
float64
float64
float64
object
object
float64
float64
float64
float64
float64
float64
object
object

### Identify stop words

## Exploratory

### Total words

### Unique words